@font-face {
  font-family: 'fontello';
  src: url("fontello/fontello.eot");
  src: url("fontello/fontello.eot?#iefix") format('embedded-opentype'), url("fontello/fontello.woff") format('woff'), url("fontello/fontello.ttf") format('truetype'), url("fontello/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/** -------------------------------------------------------
 * 	TAGS
 ---------------------------------------------------------- */
html{
	font-family: Arial, sans-serif;
}
body{
	line-height: 1.6;
}
p{
	
}
code{
	display: block;
	padding: 10px;
	background-color: #000;
	color: #ffffff;
	white-space: pre;
	font-size: 14px;
	overflow: auto;
}
p a{
	color: #000000;
}
p a:hover{
	color: #FF1956;
}
/** -------------------------------------------------------
 * 	FORM ELEMENTS
 ---------------------------------------------------------- */
input{
	display: inline-block;
	border: 1px solid #e0e0e0;
	padding: .5em;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.5);
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.3);
	outline: none;
}
#font-size,
#line-height,
#body-font-size{
	width: 80px;
}
#search-fonts{
	width: 260px;
	text-align: left;
}
#search-fonts.orig{
	color: #ccc;
	font-weight: normal;
}
#search-field-clear{
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	display: block;
	position: absolute;
	font-size: 20px;
	margin: 0 0 0 -30px;
	cursor: pointer;
	color: #999999;
	top: 5px;
	right: 15px;
}
#search-field-clear:hover{
	color: #00C0FF;
}
/** -------------------------------------------------------
 * 	PANEL
 ---------------------------------------------------------- */
#panel{
	position: fixed;
	width: 300px;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #f5f5f5;
	border-right: 1px solid #e0e0e0; 
	font-size: 16px;
}
#panel section{
	padding: 0 20px;
}
#panel h2{
	font-size: 14px;
}
#panel ul{
	list-style-type: none;
	font-size: 14px;
	padding: 0 0 0 15px;
}
#panel li{
	margin: 0 0 5px 0;
}
#panel .conversion{
	display: inline-block;
	font-size: 13px;
	line-height: 1.4;
	margin: 0 0 0 50px;
	vertical-align: middle;
}
#google-fonts{
	position: absolute;
	margin: 0;
	border-top: 1px solid #e0e0e0;
	top: 310px;
	bottom: 0;
	height: auto;
	width: 300px;
	left: 0;
	overflow: auto;
}
#panel ul#google-fonts-list{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: relative;
	width: 300px;
}
#panel ul#google-fonts-list li{
	width: 300px;
	height: 40px;
	background-position: 10px center;
	background-repeat: no-repeat;
	text-indent: -99999em;
	cursor: pointer;
}
#panel ul#google-fonts-list li:hover,
#panel ul#google-fonts-list li.act{
	background-color: #dbf6ff;
}
#panel ul#google-fonts-list li.loading{
	background-image: url('img/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 20px;
}
#panel ul#google-fonts-list li[data-font-type=system]{
	text-indent: 20px;
	line-height: 40px;
}
#panel ul#google-fonts-list li.headline{
	text-indent: 20px;
	line-height: 30px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	-webkit-box-shadow: inset 0em -0.2em .5em rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0em -0.2em .5em rgba(0,0,0,0.2);
	-ms-box-shadow: inset 0em -0.2em .5em rgba(0,0,0,0.2);
	box-shadow: inset 0em -0.2em .5em rgba(0,0,0,0.2);
	text-shadow: -1px -1px 0 #666;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}
#font-search{
	position: relative;
}
/** -------------------------------------------------------
 * 	TAB NAVIGATION
 ---------------------------------------------------------- */
.tabs > nav{
	margin-left: 300px;
	background-color: #000;
	overflow: hidden;
	padding: 0 170px 0 100px;
	line-height: 1;
}
.tabs > nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.tabs > nav ul li{
	font-size: 12px;
	float: left;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 24px;
	color: #ffffff;
}
.tabs > nav ul li:hover{
	color: #00C0FF;
}
.tabs > nav ul li.act{
	color: #000000;
	background-color: #ffffff;
}
.tabs > nav ul li#nav-about{
	float: right;
	margin: 0;
}

#panel > nav{
	margin: 0;
	background-color: transparent;
	padding: 0;
	border-right: 1px solid #666666;
	margin-right: -1px;
}
#panel > nav ul{
	display: table;
	border-collapse: collapse;
	width: 100%;
}
#panel > nav ul li{
	float: none;
	text-align: center;
	display: table-cell;
	padding: 12px 0;
	width: 50%;
	-webkit-box-shadow: inset 0em -0.2em .5em rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0em -0.2em .5em rgba(0,0,0,0.2);
	-ms-box-shadow: inset 0em -0.2em .5em rgba(0,0,0,0.2);
	box-shadow: inset 0em -0.2em .5em rgba(0,0,0,0.2);
	text-shadow: -1px -1px 0 #666;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #666666 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#666666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#666666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#666666 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}
#panel > nav ul li:hover{
	color: #dddddd;
}
#panel > nav ul li.act{
	background: 0;
	background-color: #f5f5f5;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	text-shadow: 1px 1px 0 #fff;
}
#panel > nav ul li.act:hover{
	color: #000000;
}
#section-settings li{
	cursor: pointer;
}
#section-settings li.icon-block{
	font-style: italic;
	text-decoration: line-through;
}
#section-settings li.icon-block:before{
	text-decoration: none;
}
#section-settings li:hover{
	color: #00C0FF;
}
/** -------------------------------------------------------
 * 	CONTENT
 ---------------------------------------------------------- */
#content > section{
	margin-left: 300px;
	padding: 5em 11em 0 6em;
}
#section-home h1{
	line-height: 1;
	position: relative;
	margin: 0 0 .5em 0;
}
#section-home h2{
	line-height: 1.4;
	margin: 0 0 0 0;
	position: relative;
}
#section-home div{
	line-height: 1.6;
	position: relative;
}
#section-home h1:hover,
#section-home h2:hover,
#bodytext:hover{
	outline: 1px dotted #00C0FF;
}
#section-home h1.act,
#section-home h2.act,
#bodytext.act{
	outline: 1px dotted #FF1956;
}
#bodytext p{
	outline: none;
	margin: 1em 0;
}
span.hide{
	display: none;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #00C0FF;
	position: absolute;
	right: 0;
	top: 0;
	padding: 7px;
	cursor: pointer;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	-ms-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}
#section-home h1:hover span.hide,
#section-home h2:hover span.hide,
#bodytext:hover span.hide{
	display: block;
}
span.hide:hover{
	background-color: #000000;
}
/** -------------------------------------------------------
 * 	SAVE PANEL
 ---------------------------------------------------------- */
#save-panel{
	position: fixed;
	bottom: 0;
	left: 300px;
	right: 0;
	overflow: auto;
	height: 60px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	-webkit-box-shadow: inset 0em 0.2em .5em rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0em 0.2em .5em rgba(0,0,0,0.2);
	-ms-box-shadow: inset 0em 0.2em .5em rgba(0,0,0,0.2);
	box-shadow: inset 0em 0.2em .5em rgba(0,0,0,0.2);
	
	background: -moz-linear-gradient(top,  #666666 0%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #666666 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #666666 0%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #666666 0%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #666666 0%,#999999 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
}
#save-panel li{
	display: inline-block;
	height: 60px;
	width: 100px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	font-size: 11px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	position: relative;
}
#save-panel li:hover{
	background-color: #00C0FF;
	color: #fff;
}
#save-panel li span{
	vertical-align: middle;
	display: inline-block;
	line-height: 1;
}
#save-panel li span.delete{
	position: absolute;
	top: 5px;
	right: 5px;
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: none;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	vertical-align: top;
	line-height: 1;
	font-size: 1.5em;
}
#save-panel li:hover span.delete{
	display: block;
}
#save-panel li#add-combination span[class^="icon-"]:before{
	display: block;
	text-align: center;
	width: 100%;
	margin: 0 0 .5em 0;
	font-size: 18px;
}

/** -------------------------------------------------------
 * 	START ANIMATION
 ---------------------------------------------------------- */
#nofontselected span{
	display: none;
}
@-webkit-keyframes shake {
	0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
}
@-moz-keyframes shake {
	0%, 20%, 40%, 60%, 80%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
}
@-o-keyframes shake {
	0%, 20%, 40%, 60%, 80%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
}
@keyframes shake {
	0%, 20%, 40%, 60%, 80%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
}
.pulsating > span{
	display: block;
	position: absolute;
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	margin: 0;
	text-align: center;
	vertical-align: top;
	font-size: 30px;
	color: #00C0FF;
	
	margin-left: -110px;
	
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	        backface-visibility: hidden;
  
	-webkit-animation-duration: 5s;
	   -moz-animation-duration: 5s;
	    -ms-animation-duration: 5s;
	     -o-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	   -moz-animation-iteration-count: infinite;
	    -ms-animation-iteration-count: infinite;
	     -o-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	    -ms-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-name: shake;
	   -moz-animation-name: shake;
	     -o-animation-name: shake;
	        animation-name: shake;
}
.pulsating > span span{
	display: inline-block;
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	background-color: #00C0FF;
	color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
/** -------------------------------------------------------
 * 	ICONS
 ---------------------------------------------------------- */
[class^="icon-"],
[class*=" icon-"]{
	line-height: 1;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.313em;
	text-align: center;
	vertical-align: top;
	line-height: 1;
}

.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-list-add:before { content: '\e003'; } /* '' */
.icon-info-circle:before { content: '\e705'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-back-in-time:before { content: '\e771'; } /* '' */
.icon-inbox:before { content: '\e777'; } /* '' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-doc-text:before { content: '📄'; } /* '\1f4c4' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */
.icon-block:before { content: '🚫'; } /* '\1f6ab' */

/** -------------------------------------------------------
 * 	MEDIA QUERIES (CURRENTLY FOR IPAD LANDSCAPE ONLY)
 ---------------------------------------------------------- */
@media screen and (max-width: 1024px) {
	#content > section{
		padding: 5em 6em 0 6em;
	}
}
